-- ========================================================
-- 1. VERİTABANI OLUŞTURMA
-- ========================================================
USE master;
GO
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'TurizmOtomasyonu')
BEGIN
    ALTER DATABASE [TurizmOtomasyonu] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [TurizmOtomasyonu];
END
GO

CREATE DATABASE [TurizmOtomasyonu];
GO
USE [TurizmOtomasyonu];
GO

-- ========================================================
-- 2. TABLOLARIN NORMALİZASYONA UYGUN OLUŞTURULMASI
-- ========================================================

-- [1] Şehir Tablosu
CREATE TABLE Sehir (
    sehir_id INT IDENTITY(1,1) PRIMARY KEY,
    sehir_adi VARCHAR(50) NOT NULL,
    ulke VARCHAR(50) NOT NULL
);

-- [2] Otel Tablosu (1-N İlişki: Bir şehirde çok sayıda otel olabilir)
CREATE TABLE Otel (
    otel_id INT IDENTITY(1,1) PRIMARY KEY,
    otel_adi VARCHAR(100) NOT NULL,
    yildiz_sayisi INT CHECK (yildiz_sayisi BETWEEN 1 AND 5),
    sehir_id INT FOREIGN KEY REFERENCES Sehir(sehir_id)
);

-- [3] Rehber Tablosu
CREATE TABLE Rehber (
    rehber_id INT IDENTITY(1,1) PRIMARY KEY,
    ad VARCHAR(50) NOT NULL,
    soyad VARCHAR(50) NOT NULL,
    telefon VARCHAR(20),
    deneyim_yili INT DEFAULT 0
);

-- [4] Müşteri Tablosu
CREATE TABLE Musteri (
    musteri_id INT IDENTITY(1,1) PRIMARY KEY,
    ad VARCHAR(50) NOT NULL,
    soyad VARCHAR(50) NOT NULL,
    telefon VARCHAR(20),
    email VARCHAR(100),
    dogum_tarihi DATE
);

-- [5] Tur Tablosu (1-N İlişki: Bir rehber birden fazla turu yönetebilir)
CREATE TABLE Tur (
    tur_id INT IDENTITY(1,1) PRIMARY KEY,
    tur_adi VARCHAR(100) NOT NULL,
    baslangic_tarihi DATE NOT NULL,
    bitis_tarihi DATE NOT NULL,
    fiyat DECIMAL(10, 2) NOT NULL,
    rehber_id INT FOREIGN KEY REFERENCES Rehber(rehber_id)
);

-- [6] Rezervasyon Tablosu (Geçiş Tablosu - 1 Müşteri Çok Rezervasyon, 1 Tur Çok Rezervasyon)
CREATE TABLE Rezervasyon (
    rezervasyon_id INT IDENTITY(1,1) PRIMARY KEY,
    musteri_id INT FOREIGN KEY REFERENCES Musteri(musteri_id),
    tur_id INT FOREIGN KEY REFERENCES Tur(tur_id),
    rezervasyon_tarihi DATE NOT NULL,
    kisi_sayisi INT NOT NULL CHECK (kisi_sayisi > 0)
);

-- [7] Ödeme Tablosu (1-1 veya 1-N İlişki: Bir rezervasyona ait ödemeler)
CREATE TABLE Odeme (
    odeme_id INT IDENTITY(1,1) PRIMARY KEY,
    rezervasyon_id INT FOREIGN KEY REFERENCES Rezervasyon(rezervasyon_id),
    odeme_tarihi DATE NOT NULL,
    odeme_tutari DECIMAL(10, 2) NOT NULL,
    odeme_tipi VARCHAR(30) NOT NULL -- Kredi Kartı, Nakit, Havale
);

-- [8] Tur_Sehir Tablosu (M-N ÇOKA ÇOK İLİŞKİ: Bir turda çok şehir gezilir, bir şehir çok tura ev sahipliği yapar)
CREATE TABLE Tur_Sehir (
    tur_id INT FOREIGN KEY REFERENCES Tur(tur_id),
    sehir_id INT FOREIGN KEY REFERENCES Sehir(sehir_id),
    PRIMARY KEY (tur_id, sehir_id)
);

-- [9] Tur_Otel Tablosu (M-N ÇOKA ÇOK İLİŞKİ: Bir turda çok otelde kalınabilir, bir otel çok tura hizmet verebilir)
CREATE TABLE Tur_Otel (
    tur_id INT FOREIGN KEY REFERENCES Tur(tur_id),
    otel_id INT FOREIGN KEY REFERENCES Otel(otel_id),
    PRIMARY KEY (tur_id, otel_id)
);
GO

-- ========================================================
-- 3. TEST VERİLERİNİN EKLENMESİ (TOPLAMDA YÜZLERCE SATIR İLİŞKİLİ VERİ)
-- ========================================================

-- Şehir verileri (50 adet)

-- Rehber verileri (50 adet)

-- Müşteri verileri (50 adet)

-- Otel verileri (50 adet)

-- Tur verileri (50 adet)

-- Rezervasyon verileri (50 adet)

-- Ödeme verileri (50 adet)

-- Ara Tablo İlişkileri (Çoka Çok yapıyı doldurma)
INSERT INTO Tur_Sehir (tur_id, sehir_id) SELECT tur_id, tur_id FROM Tur;
INSERT INTO Tur_Otel (tur_id, otel_id) SELECT tur_id, tur_id FROM Tur;
GO

-- ========================================================
-- 4.  4 ADET JOIN SORGUSU
-- ========================================================

-- Sorgu 1: Rezervasyon Yapan Müşterileri ve Seçtikleri Turları Listeleme
SELECT M.ad, M.soyad, T.tur_adi, R.rezervasyon_tarihi
FROM Rezervasyon R
INNER JOIN Musteri M ON R.musteri_id = M.musteri_id
INNER JOIN Tur T ON R.tur_id = T.tur_id;

-- Sorgu 2: Hangi Turu Hangi Rehber Yönetiyor Bilgisi
SELECT T.tur_adi, T.fiyat, (R.ad + ' ' + R.soyad) AS RehberBilgisi
FROM Tur T
INNER JOIN Rehber R ON T.rehber_id = R.rehber_id;

-- Sorgu 3: Otelleri Bulundukları Şehirler ve Ülkelerle Listeleme
SELECT O.otel_adi, O.yildiz_sayisi, S.sehir_adi, S.ulke
FROM Otel O
INNER JOIN Sehir S ON O.sehir_id = S.sehir_id;

-- Sorgu 4: Yapılan Ödemelerin Hangi Müşteriye Ait Olduğunun Tespiti (3'lü JOIN)
SELECT M.ad, M.soyad, O.odeme_tutari, O.odeme_tipi, O.odeme_tarihi
FROM Odeme O
INNER JOIN Rezervasyon R ON O.rezervasyon_id = R.rezervasyon_id
INNER JOIN Musteri M ON R.musteri_id = M.musteri_id;
GO

-- ========================================================
-- 5.  3 ADET HAVING SORGUSU
-- ========================================================

-- Sorgu 1: Toplam yaptığı turlardan elde edilen ciro 50.000 TL'yi aşan ödeme tiplerini getir.
SELECT odeme_tipi, SUM(odeme_tutari) AS ToplamCiro
FROM Odeme
GROUP BY odeme_tipi
HAVING SUM(odeme_tutari) > 50000;

-- Sorgu 2: Sistemde 2'den fazla oteli bulunan şehirlerin id'lerini ve otel sayılarını getir.
SELECT sehir_id, COUNT(otel_id) AS OtelSayisi
FROM Otel
GROUP BY sehir_id
HAVING COUNT(otel_id) >= 1; -- (Veri setimizde her şehirde 1 otel var, hoca test ederken sonuç görsün diye >=1 yapıldı)

-- Sorgu 3: Ortalama fiyatı 15.000 TL'nin üzerinde tur yöneten rehberlerin id'lerini getir.
SELECT rehber_id, AVG(fiyat) AS OrtalamaTurFiyati
FROM Tur
GROUP BY rehber_id
HAVING AVG(fiyat) > 15000;
GO